In [178]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /Users/shanelim/Library/Python/3.9/lib/python/site-packages (9.0.0)
WARNING: You are using pip version 21.2.4; however, version 24.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [179]:
import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [180]:


# Connect to MySQL
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='X',
    database='dataset'
)

# Query the data
query = "SELECT * FROM cleaned_001_lomo_customers_dataset;"
df = pd.read_sql(query, con=connection)

# Close the connection
connection.close()

/var/folders/vc/ylwdpxdx77b21ymkvj67t_h00000gn/T/ipykernel_1095/1330858986.py:11: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

In [181]:
df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,8535e7d171732dcdb3de48ff99040f6c,05c0c68fbdf283e56b37df9f2d20245c,TH100101,Phra Nakhon,Bangkok
1,045ce65dc053765839733057c287dbcb,1f69219bc86e6918b4751692323de642,TH100101,Phra Nakhon,Bangkok
2,c754052065714c0e304de22a0e5b7749,31b5e7b0290cf70ac603e77f85efb53f,TH100101,Phra Nakhon,Bangkok
3,d707092bd024342cd484143f8fd20a55,3f6faa55fa7e82f1245fff7e2118663b,TH100101,Phra Nakhon,Bangkok
4,6a899e55865de6549a58d2c6845e5604,3fb97204945ca0c01bcf3eee6031c5f1,TH100101,Phra Nakhon,Bangkok
...,...,...,...,...,...
99436,1dbe0bf136ea8849ed9648546ebc2e63,bd0d97c6af77a1ef4850255bd6d17fec,TH960905,Sukhirin,Narathiwat
99437,f4bc36ec33804416487b2a7051214db6,e613f7834ff4bd901915744d6b7a1a83,TH960905,Sukhirin,Narathiwat
99438,88c36fbd3df96094f90f0315e1d2dd90,e629cd3ff381ad0a234016fa7dd76f46,TH960905,Sukhirin,Narathiwat
99439,a01fcde31529708c8755a0226631c0d7,f34fd449c1a6da5fbf276eada6a5fba2,TH960905,Sukhirin,Narathiwat
99440,fa13a66883870e318eaf825f103d95b2,ff475e6edaf907efba6609f05d0b582d,TH960905,Sukhirin,Narathiwat

In [182]:

# Have to import seperatel as MYSQL Workbench doesn't work well with Thai Letters

# Load your cleaned data from the CSV (which you’ve already done)
df_003 = pd.read_csv('dataset.csv', encoding='utf-8')

# Step 1:
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='X',
    database='X'
)
# Step 2: Create a MySQL cursor object
cursor = connection.cursor()

# Step 3: Create a table in MySQL (if it doesn't exist already)
cursor.execute("""
    CREATE TABLE IF NOT EXISTS lomo_geolocation_dataset (
        object_id INT,
        shape VARCHAR(255),
        admin0_name_en VARCHAR(255),
        admin0_name_th VARCHAR(255),
        admin0_pcode VARCHAR(10),
        admin1_name_en VARCHAR(255),
        admin1_name_th VARCHAR(255),
        admin1_pcode VARCHAR(10),
        admin2_name_en VARCHAR(255),
        admin2_name_th VARCHAR(255),
        admin2_pcode VARCHAR(10),
        admin3_name_en VARCHAR(255),
        admin3_name_th VARCHAR(255),
        admin3_pcode VARCHAR(10),
        shape_length FLOAT,
        shape_area FLOAT
    ) CHARACTER SET utf8mb4;
""")

# Step 4: Insert data into the table row by row
for index, row in df_003.iterrows():
    cursor.execute("""
        INSERT INTO lomo_geolocation_dataset (
            object_id, shape, admin0_name_en, admin0_name_th, admin0_pcode,
            admin1_name_en, admin1_name_th, admin1_pcode,
            admin2_name_en, admin2_name_th, admin2_pcode,
            admin3_name_en, admin3_name_th, admin3_pcode,
            shape_length, shape_area
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, tuple(row))

# Commit the transaction
connection.commit()

# Step 5: Close the cursor and connection
cursor.close()
connection.close()

print("Data successfully inserted into MySQL table.")

Data successfully inserted into MySQL table.

In [183]:
df_009 = pd.read_csv('dataset.csv', encoding='utf-8')

df_009.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,8670d52e15e00043ae7de4c01cc2fe06,b9bf720beb4ab3728760088589c62129,4,recomendo,aparelho eficiente. no site a marca do aparelh...,22/05/2018 00:00,23/05/2018 16:45
1,3948b09f7c818e2d86c9a546758b2335,e51478e7e277a83743b6f9991dbfa3fb,5,Super recomendo,"Vendedor confiÃ¡vel, produto ok e entrega ante...",23/05/2018 00:00,24/05/2018 03:00
2,373cbeecea8286a2b66c97b1b157ec46,583174fbe37d3d5f0d6661be3aad1786,1,NÃ£o chegou meu produto,PÃ©ssimo,15/08/2018 00:00,15/08/2018 04:10
3,d21bbc789670eab777d27372ab9094cc,4fc44d78867142c627497b60a7e0228a,5,Ã“timo,Loja nota 10,10/07/2018 00:00,11/07/2018 14:10
4,c92cdd7dd544a01aa35137f901669cdf,37e7875cdce5a9e5b3a692971f370151,4,Muito bom.,Recebi exatamente o que esperava. As demais en...,07/06/2018 00:00,09/06/2018 18:44

## SQL Queries

In [11]:
pip install ipython-sql mysql-connector-python

In [31]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql SELECT * FROM cleaned_007_lomo_order_items_dataset limit 5;

In [ ]:
%%sql
SELECT * FROM cleaned_006_lomo_orders_dataset
limit 5;

In [ ]:
%%sql
SELECT * FROM cleaned_004_lomo_products_dataset
limit 5;

In [ ]:

%sql SELECT * FROM cleaned_005_lomo_product_category_name_translation limit 5;

In [ ]:


query = """
DROP TABLE IF EXISTS products_ord_sell_in_eng;

cREATE TABLE products_ord_sell_in_eng AS
SELECT product_cat.product_id, product_category_name_english, seller_id, order_id, price
FROM cleaned_005_lomo_product_category_name_translation AS product_translation
JOIN cleaned_004_lomo_products_dataset AS product_cat 
ON product_cat.product_category_name = product_translation.product_category_name_portugese
join cleaned_007_lomo_order_items_dataset as order_item on product_cat.product_id = order_item.product_id;
"""

# Execute the query
result = %sql $query

# Convert to DataFrame (optional)
df_result = pd.DataFrame(result)

In [ ]:
%sql select * from products_ord_sell_in_eng limit 5;

## Create a table (all_sales_w_delivery_status) to take into account delivery status

In [ ]:


query = """
DROP TABLE IF EXISTS all_sales_w_delivery_status;

cREATE TABLE all_sales_w_delivery_status AS
SELECT products_ord_sell_in_eng.*, customer_id, order_status, order_purchase_timestamp, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date
FROM cleaned_006_lomo_orders_dataset AS order_status
JOIN products_ord_sell_in_eng on products_ord_sell_in_eng.order_id COLLATE utf8mb4_unicode_ci = order_status.order_id
"""

# Execute the query
result = %sql $query

# Convert to DataFrame (optional)
df_result = pd.DataFrame(result)

In [147]:
df_result.head()

Empty DataFrame
Columns: []
Index: []

## What is the segment with the higest revenue

# Key assumption for the revenue from delivery -- Sellers gets refunded by Lomo if the package gets lost during shipping (Using Lomo's lost during shipping policy and assuming they all have insurance)

In [ ]:
query = """
SELECT 
        product_category_name_english, 
        product_id, 
        count(product_id) as qty,
        SUM(price) AS total_revenue,
        ROW_NUMBER() OVER (PARTITION BY product_category_name_english ORDER BY SUM(price) DESC) AS ranked
    FROM all_sales_w_delivery_status
    WHERE order_status = "delivered" or "shipped"
    GROUP BY product_category_name_english, product_id
    """
top10_total_revenue = %sql $query

df_top10_total_revenue = pd.DataFrame(top10_total_revenue)


df_top10_total_revenue.head()

In [ ]:
query = """
SELECT 
        product_category_name_english, 
        count(product_id) as qty,
        SUM(price) AS total_revenue
    FROM all_sales_w_delivery_status
    WHERE order_status = "delivered" or "shipped"
    GROUP BY product_category_name_english
    order by total_revenue desc
    limit 15;
    """
top10_total_revenue = %sql $query

df_top10_total_revenue_by_prod_id = pd.DataFrame(top10_total_revenue)


df_top10_total_revenue_by_prod_id.head()

## What is the product segment with the higest potential?

In [ ]:
query = """

SELECT *
FROM (
    SELECT 
        product_category_name_english, 
        DATE_FORMAT(STR_TO_DATE(order_purchase_timestamp, '%d/%m/%Y %H:%i'), '%Y-%m') AS month_year,
        COUNT(product_id) AS qty_sold,
        SUM(price) AS total_revenue,
        ROW_NUMBER() OVER (PARTITION BY product_category_name_english ORDER BY SUM(price) DESC) AS ranked
    FROM 
        all_sales_w_delivery_status
    WHERE 
        STR_TO_DATE(order_purchase_timestamp, '%d/%m/%Y %H:%i') BETWEEN '2018-01-01' AND '2018-12-31'
    GROUP BY 
        product_category_name_english, 
        month_year
) AS ranked_products
ORDER BY product_category_name_english, month_year desc;
"""

# Execute the query
result = %sql $query

# Convert to DataFrame (optional)
df_highest_potential = pd.DataFrame(result)

df_highest_potential.head()

In [193]:
# Convert the 'month_year' column to datetime for sorting and filtering
df_highest_potential['month_year'] = pd.to_datetime(df_highest_potential['month_year'], format='%Y-%m')

# Filter for January 2018 and the latest month in 2018
january_df = df_highest_potential[df_highest_potential['month_year'] == '2018-01-01']
latest_month = df_highest_potential['month_year'].max()
latest_df = df_highest_potential[df_highest_potential['month_year'] == latest_month]

# Merge the data for January and the latest month on 'product_category_name_english'
growth_df = pd.merge(january_df, latest_df, on='product_category_name_english', suffixes=('_jan', '_latest'))

# Calculate the total revenue growth
growth_df['revenue_growth'] = growth_df['total_revenue_latest'] - growth_df['total_revenue_jan']

# Sort by highest revenue growth
growth_df_sorted = growth_df[['product_category_name_english', 'total_revenue_jan', 'total_revenue_latest', 'revenue_growth']]
growth_df_sorted = growth_df_sorted.sort_values(by='revenue_growth', ascending=False)

# Display the top results
growth_df_sorted.head()

,product_category_name_english,total_revenue_jan,total_revenue_latest,revenue_growth
0,kitchen_dining_laundry_garden_furniture,4838.5,145.0,-4693.5

## Customer Count by State and City

In [ ]:
query = """ 
SELECT 
    customer_state, 
    customer_city, 
    COUNT(customer_id) AS customer_count
FROM 
    X.cleaned_001_lomo_customers_dataset
GROUP BY 
    customer_state, 
    customer_city
ORDER BY 
    customer_city desc;
"""
# Execute the query
result = %sql $query

# Convert to DataFrame (optional)
highest_customer_count = pd.DataFrame(result)

highest_customer_count.head()

In [168]:
highest_customer_count.head()

  customer_state    customer_city  customer_count
0        Pattani           Yaring             347
1        Kalasin       Yang Talat             533
2  Maha Sarakham     Yang Sisurat             206
3      Si Sa Ket    Yang Chum Noi             173
4        Lamphun  Wiang Nong Long              67

## Breakdown by revenue and customer state

In [ ]:
query = """

SELECT 
    customers.customer_state, 
    customers.customer_city, 
    SUM(sales.price) AS total_revenue,
    COUNT(sales.order_id) AS total_orders
FROM 
    all_sales_w_delivery_status AS sales
JOIN 
    cleaned_001_lomo_customers_dataset AS customers 
    ON sales.customer_id COLLATE utf8mb4_unicode_ci = customers.customer_id COLLATE utf8mb4_unicode_ci
GROUP BY 
    customers.customer_state, 
    customers.customer_city
ORDER BY 
    total_revenue DESC;
"""

# Execute the query
result = %sql $query

# Convert to DataFrame (optional)
rev_by_location = pd.DataFrame(result)

rev_by_location.head()

In [186]:
rev_by_location.head()

  customer_state         customer_city  total_revenue  total_orders
0  Amnat Charoen  Mueang Amnat Charoen      164271.85          1301
1      Si Sa Ket               Khukhan      137351.54          1189
2   Sakon Nakhon       Sawang Daen Din      122341.86          1006
3      Si Sa Ket           Kantharalak      118925.64           922
4   Chachoengsao               Ban Pho      117985.41           916

In [ ]:
## Determine which leads are won 

query = """

SELECT 
    leads.origin, 
	deals.business_segment, 
    COUNT(deals.won_date) AS total_won_leads
FROM 
    cleaned_010_lomo_marketing_qualified_leads_dataset AS leads
JOIN 
    cleaned_011_lomo_closed_deals_dataset AS deals 
ON 
    leads.mql_id = deals.mql_id
GROUP BY 
    leads.origin,
    deals.business_segment
ORDER BY 
    total_won_leads DESC;
;
"""

# Execute the query
result = %sql $query

# Convert to DataFrame (optional)
leads_won_by_segment = pd.DataFrame(result)

leads_won_by_segment.head()

## Identify which channel wins the most leads

In [ ]:

query = """SELECT 
    leads.origin, 
    COUNT(deals.won_date) AS total_won_leads
FROM 
    cleaned_010_lomo_marketing_qualified_leads_dataset AS leads
JOIN 
    cleaned_011_lomo_closed_deals_dataset AS deals 
ON 
    leads.mql_id = deals.mql_id
GROUP BY 
    leads.origin
ORDER BY 
    total_won_leads DESC;
    """

# Execute the query
result = %sql $query

# Convert to DataFrame (optional)
leads_won_overview = pd.DataFrame(result)

leads_won_overview.head()

## Revenue by customer and location

In [188]:
import plotly.graph_objects as go

In [177]:
print(rev_by_location.columns)

RangeIndex(start=0, stop=0, step=1)

In [191]:

# Assuming 'rev_by_location' is your DataFrame, create the top 10 based on total revenue
df_top10_revenue = rev_by_location.sort_values(by='total_revenue', ascending=False).head(10)

# Create a dual-axis plot with Plotly

# Create a figure for the first y-axis (total revenue)
fig_rev_from_cust = go.Figure()

# Add 'total_revenue' bars to the first y-axis
fig_rev_from_cust.add_trace(go.Bar(
    x=df_top10_revenue['customer_city'] + ', ' + df_top10_revenue['customer_state'],
    y=df_top10_revenue['total_revenue'],  # total revenue on the primary y-axis
    name='Total Revenue',
    marker_color='indianred',
    yaxis='y'
))

# Add 'total_orders' as a line on the secondary y-axis
fig_rev_from_cust.add_trace(go.Scatter(
    x=df_top10_revenue['customer_city'] + ', ' + df_top10_revenue['customer_state'],
    y=df_top10_revenue['total_orders'],  # total orders on the secondary y-axis
    name='Total Orders',
    marker_color='lightblue',
    yaxis='y2',
    mode='lines+markers'
))

# Update the layout with two y-axes
fig_rev_from_cust.update_layout(
    title='Top 10 Cities by Total Revenue and Total Orders (Dual-Axis)',
    xaxis_title='City, State',
    yaxis=dict(
        title='Total Revenue',
        titlefont=dict(color='indianred'),
        tickfont=dict(color='indianred'),
    ),
    yaxis2=dict(
        title='Total Orders',
        titlefont=dict(color='lightblue'),
        tickfont=dict(color='lightblue'),
        anchor='x',
        overlaying='y',
        side='right'
    ),
    xaxis_tickangle=-45,
    title_x=0.5
)

# Show the plot
fig_rev_from_cust.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed